# Default code owners for entire repository
*                                               @hashgraph/hedera-sdk @hashgraph/hiero-sdk-go-maintainers @hashgraph/hiero-sdk-go-contributors

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk @hashgraph/hiero-sdk-go-maintainers @hashgraph/hiero-sdk-go-contributors

# Legacy Maven project files
**/pom.xml                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk @hashgraph/hiero-sdk-go-maintainers  @hashgraph/hiero-sdk-go-contributors

# Gradle project files and inline plugins
/gradle/                                        @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk @hashgraph/hiero-sdk-go-maintainers  @hashgraph/hiero-sdk-go-contributors
gradlew                                         @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk @hashgraph/hiero-sdk-go-maintainers  @hashgraph/hiero-sdk-go-contributors
gradlew.bat                                     @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk @hashgraph/hiero-sdk-go-maintainers  @hashgraph/hiero-sdk-go-contributors
**/build-logic/                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk @hashgraph/hiero-sdk-go-maintainers  @hashgraph/hiero-sdk-go-contributors
**/gradle.*                                     @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk @hashgraph/hiero-sdk-go-maintainers  @hashgraph/hiero-sdk-go-contributors
**/*.gradle.*                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk @hashgraph/hiero-sdk-go-maintainers  @hashgraph/hiero-sdk-go-contributors

# Codacy Tool Configurations
/config/                                        @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk @hashgraph/hiero-sdk-go-maintainers  @hashgraph/hiero-sdk-go-contributors
.remarkrc                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk @hashgraph/hiero-sdk-go-maintainers  @hashgraph/hiero-sdk-go-contributors

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk @hashgraph/hiero-sdk-go-maintainers  @hashgraph/hiero-sdk-go-contributors

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk @hashgraph/hiero-sdk-go-maintainers  @hashgraph/hiero-sdk-go-contributors
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                  @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk @hashgraph/hiero-sdk-go-maintainers  @hashgraph/hiero-sdk-go-contributors

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk @hashgraph/hiero-sdk-go-maintainers  @hashgraph/hiero-sdk-go-contributors
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/hedera-sdk @hashgraph/hiero-sdk-go-maintainers  @hashgraph/hiero-sdk-go-contributors
