name: Build

on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main
      - develop

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.16
        uses: actions/setup-go@v1
        with:
          go-version: 1.16
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Vet Examples
        run: go vet ./examples/...

      - name: Vet
        run: go vet .

      - name: Build
        run: go build -v .

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.16
        uses: actions/setup-go@v1
        with:
          go-version: 1.16
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - run: go test -tags="unit" -v -timeout 9999s

  golangci:
      name: lint
      runs-on: ubuntu-latest
      steps:
          - uses: actions/checkout@v3
          - name: golangci-lint
            uses: golangci/golangci-lint-action@v3
            with:
                version: v1.29
