name: Go
env:
    OPERATOR_KEY: ${{ secrets.OPERATOR_KEY }}
    OPERATOR_ID: ${{ secrets.OPERATOR_ID }}

on:
  pull_request:
  push:
    branches:
      - master

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Vet Examples
      run: go vet ./examples/...

    - name: Vet
      run: go vet .

    - name: Build
      run: go build -v .

    - name: Test
      run: go test -v
