name: Previewnet
env:
    OPERATOR_KEY: ${{ secrets.PREVIEWNET_OPERATOR_KEY }}
    OPERATOR_ID: ${{ secrets.PREVIEWNET_OPERATOR_ID }}
    HEDERA_NETWORK: "previewnet"

defaults:
    run:
        shell: bash

permissions:
    contents: read

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:

  build:
    name: Build
    runs-on: [ self-hosted, Linux, medium, ephemeral ]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
        with:
          egress-policy: audit

      - name: Setup GCC
        run: |
            sudo apt-get update
            sudo apt-get install -y --no-install-recommends gcc libc6-dev libc-dev

      - name: Set up Go 1.19
        uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
        with:
          go-version: 1.19
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Vet Examples
        run: go vet ./examples/...

      - name: Vet
        run: go vet .

      - name: Lint
        uses: golangci/golangci-lint-action@3cfe3a4abbb849e10058ce4af15d205b6da42804 # v4.0.0
        with:
          version: v1.50

      - name: Build
        run: go build -v .

      - name: Test
        run: go test -v -timeout 9999s
